<div class="main">
  <div class="content-container">
    <img id="header-img" src="./../assets/bechaschrift.png">
    <img id="logo-main" src="./../assets/logo.png">

      <p>{{getTranslation(this.translations.main1)}}</p>
      <p>{{getTranslation(this.translations.main2)}}</p>
      <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0">{{getTranslation(this.translations.footer)}}</a>

      <input type="file" class="ng-hide" style="display: none;" id="input-file-id" (change)="inputChange($event)">
      <label id="file-label" for="input-file-id">
        <img id="btn-img" src="./../assets/kam1.png">
      </label>

  </div>
</div>

