<div class="main">
  <div class="content-container">
    <h1>BECHATRONIKER</h1>
    <img id="logo-main" src="./../assets/logo.png">
    <!-- <p>Einst zahlreich in den Vorlesungen, haben wir durch endlose Klausuren viele von uns verloren. -->
      <!-- Nun Leben wir zurückgezogen ist unserem natürlichen Lebensraum, der Bar. Wenn du einer von den wenigen bist, -->
      <!-- die einen der unseren zu Gesicht bekommen, zögere nicht und mach ein Foto mit uns!</p> -->

      <p>Deine Hilfe ist gefragt!</p>
      <p>Hilf uns den Abend zu rekonstruieren, indem du auf das Kamera-Icon clickst und ein Foto mit uns machst.</p>

      <input type="file" class="ng-hide" style="display: none;" id="input-file-id" (change)="inputChange($event)">
      <label id="file-label" for="input-file-id">
        <img id="btn-img" src="./../assets/kam1.png" alt="">
      </label>

  </div>
</div>

